<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="FirstChainWebPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <non-jta-data-source>jdbc/firstchainNewDS</non-jta-data-source>
    <class>at.core90.firstChain.data.Firstchain</class>
    <class>at.core90.firstChain.data.TransactionInput</class>
    <class>at.core90.firstChain.data.Wallet</class>
    <class>at.core90.firstChain.data.TransactionOutput</class>
    <class>at.core90.firstChain.data.Transaction</class>
    <class>at.core90.firstChain.data.Block</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="drop-and-create"/>
      <property name="hibernate.show_sql" value="true"/>
    </properties>
  </persistence-unit>
</persistence>
